/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# OS artifacts
.DS_Store
Thumbs.db

# Editor artifacts
*.swp
*.swo
*.swn
tags

# IDE files
/.idea/
